@import 'tailwindcss/base';
@layer base {
    @font-face {
        font-family: 'Inter', serif;
        font-weight: 400;
        src: url('../fonts/Inter-Regular.woff') format('woff'),
            url('../fonts/Inter-Regular.woff2') format('woff2'),
            url('../fonts/Inter-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Inter', serif;
        font-weight: 500;
        src: url('../fonts/Inter-Medium.woff') format('woff'),
            url('../fonts/Inter-Medium.woff2') format('woff2'),
            url('../fonts/Inter-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Inter', serif;
        font-weight: 600;
        src: url('../fonts/Inter-SemiBold.woff') format('woff'),
            url('../fonts/Inter-SemiBold.woff2') format('woff2'),
            url('../fonts/Inter-SemiBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Inter', serif;
        font-weight: 700;
        src: url('../fonts/Inter-Bold.woff') format('woff'),
            url('../fonts/Inter-Bold.woff2') format('woff2'),
            url('../fonts/Inter-Bold.ttf') format('truetype');
    }

    html {
        font-family: 'Inter', system-ui, sans-serif;
        @apply text-black;
    }
    body {
        font-size: 16px;
    }
    h1 {
        @apply text-h1d;
    }
    h2 {
        @apply text-h2d;
    }
    h3 {
        @apply text-h3d;
    }

    .nav-primary {
        ul > li {
            position: relative;
            overflow: hidden;

            &.menu-item-has-children {
                > a {
                    // needs to be improved - icon expected
                    &:after {
                        content: '';
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 2px;
                        transform: rotate(45deg);
                        margin-bottom: 2px;
                        margin-left: 8px;
                    }
                }
            }
            & > a {
                @apply text-white text-sm;
            }
            & > ul {
                @apply bg-black absolute left-0 top-['100%'];

                // display: none;
            }
        }
    }
}
@import 'tailwindcss/components';
@layer components {
    .container {
        @apply mx-auto max-w-containersm md:max-w-containermd lg:max-w-containerlg xl:max-w-containerxl;
    }
}
@import 'tailwindcss/utilities';

// .row {
//     @apply -mx-16 min-w-full;
// }
// .column {
//     @apply px-16 grow-0 shrink-0;
// }
// .button {
//     @apply rounded-full inline-flex items-center justify-items-center text-center font-bold px-[12px] py-[2px] text-button-m h-[30px] lg:px-[24px] lg:py-[4px] lg:text-button-d lg:h-[38px] disabled:cursor-not-allowed;
// }
// .button-filled {
//     @apply disabled:bg-neutral-60 disabled:text-white bg-primary text-black hover:text-white hover:bg-secondary hover:drop-shadow-button disabled:hover:bg-neutral-60 disabled:hover:drop-shadow-none transition-all;
// }
// .button-outlined {
//     @apply disabled:text-neutral-60 disabled:border-neutral-60 bg-transparent border border-solid border-primary text-primary hover:border-black hover:text-black transition-all;
// }
// .button-ghost {
//     @apply disabled:text-neautral-60 bg-transparent text-primary underline;
// }
// .button-filled-contrast {
//     @apply disabled:bg-neutral-60 disabled:text-white bg-primary text-black hover:bg-primary-60 hover:drop-shadow-button disabled:hover:bg-neutral-60 disabled:hover:drop-shadow-none transition-all;
// }
// .button-outlined-contrast {
//     @apply disabled:text-neutral-60 disabled:border-neutral-60 bg-transparent border border-solid border-primary text-primary hover:border-primary-60 hover:text-primary-60 transition-all;
// }
